<header>
	<video autoplay playsinline muted loop preload poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/oceanshot.jpg">
		<source src="https://media.istockphoto.com/videos/two-women-on-paddle-board-in-lagoon-video-id1201939801" />
	</video>
	<div id='mask'>
		<h1>LOVE</h1>
		<h1>LEISURE</h1>
		<h1>LIFE</h1>
	</div>
</header>
<nav>
	<div id="navBar">
		<ul>
			<a href="/"><li>Blogs</li></a>
			<a href="/about"><li>About</li></a>
			<a href="/blogs/create"><li>Create</li></a>
		</ul>
	</div>
</nav>
