<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about">
    <img id='bulb' src="bulb.jpg"></img>
    <div class='hoverMask'>
      <div class="light">
      </div>
    </div>
    
    <div class="aboutus">
      <h2>About Us</h2>
    </div>
    <div id='about2'>
      <h1>Hello.</h1> 
      My name is Andrew and I'm a software developer. 
      <div>
        <a href="https://github.com/andrewcbuensalida"><img src="github.png" alt="" srcset=""></a>
        <a href="https://www.linkedin.com/in/andrewcbuensalida/"><img src="linkedin.png" alt="" srcset=""></a>
      </div>
    </div>

    <!-- <%- include("./partials/footer.ejs") %> -->
  </div>

</body>
</html>