@font-face {
  font-family: Biko;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}

@-webkit-keyframes white2black {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

@keyframes white2black {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

@-webkit-keyframes black2white {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

@keyframes black2white {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

@-webkit-keyframes opacityToZero {
  from {
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
  to {
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
}

@keyframes opacityToZero {
  from {
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
  to {
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
}

@-webkit-keyframes zIndex2-1 {
  to {
    z-index: -1;
  }
}

@keyframes zIndex2-1 {
  to {
    z-index: -1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
}

body #navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  height: 0%;
  font-size: 30px;
  font-family: "Century Gothic", "Lato", sans-serif;
}

body #navBar ul {
  background: #222422;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #navBar ul a li {
  color: #9eacaa;
  text-align: center;
  padding: 5px;
  width: 200px;
  list-style-type: none;
  border-radius: 5px;
  position: relative;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  overflow: hidden;
}

body #navBar ul a li:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

body #navBar ul a li:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

body #navBar ul a li:hover {
  text-shadow: none;
  background: #1d7c64;
  cursor: pointer;
}

body #navBar ul a li:hover:before {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body #navBar ul a li:hover:after {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body .all {
  background-color: white;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

body .all #navBar {
  -webkit-animation-name: opacityToZero;
          animation-name: opacityToZero;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  animation-direction: reverse;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  height: 0%;
  font-size: 30px;
  font-family: "Century Gothic", "Lato", sans-serif;
}

body .all #navBar ul {
  background: #222422;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .all #navBar ul a li {
  color: #9eacaa;
  text-align: center;
  padding: 5px;
  width: 200px;
  list-style-type: none;
  border-radius: 5px;
  position: relative;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  overflow: hidden;
}

body .all #navBar ul a li:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

body .all #navBar ul a li:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

body .all #navBar ul a li:hover {
  text-shadow: none;
  background: #1d7c64;
  cursor: pointer;
}

body .all #navBar ul a li:hover:before {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body .all #navBar ul a li:hover:after {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body .all ::-webkit-scrollbar {
  display: none;
}

body .all .splash {
  -webkit-animation-name: zIndex2-1;
          animation-name: zIndex2-1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
		supported by Chrome,
		Edge,
		Opera and Firefox */
}

body .all .splash video {
  height: 100vh;
  position: fixed;
  z-index: 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-name: opacityToZero;
          animation-name: opacityToZero;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
}

body .all .splash #mask {
  z-index: 3;
  background-color: white;
  -webkit-animation-name: opacityToZero;
          animation-name: opacityToZero;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  height: 100vh;
  width: 100vw;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 100px;
  mix-blend-mode: screen;
}

body .all .splash #mask h1 {
  font-family: Biko, sans-serif;
  line-height: 80%;
  margin: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .all .splash #mask h1:hover {
  color: #535353;
}

body .all .splash .white {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  background-color: white;
  mix-blend-mode: screen;
  -webkit-animation-name: white2black, black2white, opacityToZero;
          animation-name: white2black, black2white, opacityToZero;
  -webkit-animation-duration: 3s, 2s, 3s;
          animation-duration: 3s, 2s, 3s;
  -webkit-animation-delay: 1s, 6s, 8s;
          animation-delay: 1s, 6s, 8s;
  -webkit-animation-fill-mode: forwards, forwards;
          animation-fill-mode: forwards, forwards;
}

body .all .blogs {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  -webkit-animation-name: opacityToZero;
          animation-name: opacityToZero;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  animation-direction: reverse;
}

body .all .blogs .blog {
  scroll-snap-align: start;
  background: black;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 100vh;
}

body .all .blogs .blog .arrowUp {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: relative;
  top: 50px;
  right: 3px;
}

body .all .blogs .blog .arrowUp .arrow-up {
  height: 40px;
  width: 40px;
  display: block;
  border: 2px solid lightgray;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
}

body .all .blogs .blog .arrowUp .arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #666;
  position: absolute;
  display: block;
  z-index: 0;
}

body .all .blogs .blog .arrowUp .left-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 3px;
  width: 20px;
  display: block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .all .blogs .blog .arrowUp .left-arm:after {
  content: "";
  background-color: lightgray;
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  z-index: -1;
}

body .all .blogs .blog .arrowUp .right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 17px;
  width: 20px;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 2px;
}

body .all .blogs .blog .arrowUp .right-arm:after {
  content: "";
  background-color: lightgray;
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  z-index: -1;
}

body .all .blogs .blog .arrowUp .arrow-up:hover {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

body .all .blogs .blog .arrowUp .arrow-up:hover .left-arm:after {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

body .all .blogs .blog .arrowUp .arrow-up:hover .right-arm:after {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

body .all .blogs .blog .arrowUp .arrow-up:hover .arrow-slide {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

body .all .blogs .blog .arrowDown {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: absolute;
  right: 3px;
  bottom: 3px;
}

body .all .blogs .blog .arrowDown .arrow-up {
  height: 40px;
  width: 40px;
  display: block;
  border: 2px solid lightgray;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
}

body .all .blogs .blog .arrowDown .arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #666;
  position: absolute;
  display: block;
  z-index: 0;
}

body .all .blogs .blog .arrowDown .left-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 3px;
  width: 20px;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .all .blogs .blog .arrowDown .left-arm:after {
  content: "";
  background-color: lightgray;
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  z-index: -1;
}

body .all .blogs .blog .arrowDown .right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 17px;
  width: 20px;
  display: block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-radius: 2px;
}

body .all .blogs .blog .arrowDown .right-arm:after {
  content: "";
  background-color: lightgray;
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  z-index: -1;
}

body .all .blogs .blog .arrowDown .arrow-up:hover {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

body .all .blogs .blog .arrowDown .arrow-up:hover .left-arm:after {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

body .all .blogs .blog .arrowDown .arrow-up:hover .right-arm:after {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

body .all .blogs .blog .arrowDown .arrow-up:hover .arrow-slide {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

body .all .blogs .blog video {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  height: 100vh;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

body .all .blogs .blog a .titleSnip {
  position: absolute;
  overflow: hidden;
  height: 40%;
  top: 33%;
  width: 100vw;
  padding: 3%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

body .all .blogs .blog a .titleSnip:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  -webkit-transform: translateX(-150px) skewX(-15deg);
          transform: translateX(-150px) skewX(-15deg);
}

body .all .blogs .blog a .titleSnip:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

body .all .blogs .blog a .titleSnip:hover {
  cursor: pointer;
}

body .all .blogs .blog a .titleSnip:hover:before {
  -webkit-transform: translateX(120vw) skewX(-15deg);
          transform: translateX(120vw) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: 1s;
  transition: 1s;
}

body .all .blogs .blog a .titleSnip:hover:after {
  -webkit-transform: translateX(120vw) skewX(-15deg);
          transform: translateX(120vw) skewX(-15deg);
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

body .all .blogs .blog a .titleSnip * {
  margin: 5px;
  font-family: "Century Gothic", "Lato", sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: 0px 6px 6px black;
}

body .details {
  background-color: #363636;
  font-size: 1.5em;
  top: 30px;
  width: 100%;
}

body .details video {
  width: 70%;
  position: relative;
  border-radius: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
  margin-top: 50px;
}

body .details .content {
  padding: 20px;
}

body .details .content * {
  margin: 30px;
  color: honeydew;
}

body .details .content p {
  text-indent: 50px;
  font-family: Cambria;
}

body .details .content .deleteDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .details .content .deleteDiv i {
  cursor: pointer;
  font-size: 1.5em;
}

body .about {
  position: relative;
}

body .about #kite {
  background-image: url("kite.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 92vh;
  width: 100%;
  position: absolute;
  top: 45px;
}

body .about .yellow {
  background-color: yellow;
  position: absolute;
  top: 45px;
  height: 92vh;
  width: 100%;
  mix-blend-mode: hue;
  -webkit-clip-path: polygon(100% 0, 100% 29%, 65% 53%, 75% 100%, 9% 100%, 0 6%);
          clip-path: polygon(100% 0, 100% 29%, 65% 53%, 75% 100%, 9% 100%, 0 6%);
}

body .about footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

body footer {
  background-color: #202020;
  color: white;
  text-align: center;
  position: relative;
}

.create-blog {
  width: 100%;
  height: 100%;
  background-color: #2e2e2e;
}

.create-blog form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #c0c2c4;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  width: 600px;
  height: 400px;
}

.create-blog form * {
  border-radius: 5px;
  width: 100%;
  margin: 5px;
}

.create-blog form div {
  text-align: center;
  margin: 0;
  color: #b8b9b9;
}

.create-blog form label {
  color: #cacaca;
  font-size: 1.2em;
}

.create-blog form input {
  font-size: 1.2em;
  height: 40px;
}

.create-blog form textarea {
  height: 150px;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.create-blog form button {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #12725a;
  height: 40px;
  width: 150px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
  overflow: hidden;
}

.create-blog form button:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

.create-blog form button:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

.create-blog form button:hover {
  text-shadow: none;
  background: #1d7c64;
  cursor: pointer;
}

.create-blog form button:hover:before {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.create-blog form button:hover:after {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.create-blog footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */