// //  use mixins, code that can be reused like a function
// @mixin theme($theme: DarkGray) {
// 	background: $theme;
// 	box-shadow: 0 0 1px rgba($theme, 0.25);
// 	color: #fff;
// }
// .info {
// 	@include theme;
// }
// .alert {
// 	@include theme($theme: DarkRed);
// }
// // is like this in css
// .info {
// 	background: DarkGray;
// 	box-shadow: 0 0 1px rgba(169, 169, 169, 0.25);
// 	color: #fff;
// }
// .alert {
// 	background: DarkRed;
// 	box-shadow: 0 0 1px rgba(139, 0, 0, 0.25);
// 	color: #fff;
// }

// //  modules are scss that can be imported. name it like _moduleName, then can import it with
// @use "moduleName";
// // then use it with moduleName.$variable  / _base.scss  $font-stack: Helvetica, sans-serif;

// $primary-color: #333;

// body {
// 	font: 100% $font-stack;
// 	color: $primary-color;
// }

// // styles.scss
// @use "base";
// .inverse {
// 	background-color: base.$primary-color;
// 	color: white;
// }
// //  partials are files that you want to inlude in another file. it should start with _
// // _reset.scss
// html,
// body,
// ul,
// ol {
// 	margin: 0;
// 	padding: 0;
// }
// // styles.css
// @import "reset";

// body {
// 	font-family: Helvetica, sans-serif;
// 	font-size: 18px;
// 	color: red;
// }
// //  this will add reset before the body variables just has a $ in front of it  custom functions
// @function function-name($var1, $var2) {
// 	@return percentage($var1/$var2);
// }
// //  then to use it
// .col-3 {
// 	width: column-width(3, 8);
// }
// //  difference of functions and mixins, functions return a value, mixins return code snippet
// //  @extend basically is used when have multiple styles that are similar but have some minor differences.
// .button-basic {
// 	border: none;
// 	padding: 15px 30px;
// 	text-align: center;
// 	font-size: 16px;
// 	cursor: pointer;
// }
// .button-report {
// 	@extend .button-basic;
// 	background-color: red;
// }
// //  nested, the & means the parent
// p {
// 	&:hover {
// 		text-decoration: underline;
// 	}
// 	a {
// 		color: green;
// 	}
// }

// @font-face {
// 	font-family: title;
// 	src: url(obesum-ultra-caps.extra-black-expanded.ttf);
// }
// body {
// 	justify-content: center;
// 	nav {
// 		div {
// 			//title
// 			margin: 0 auto;
// 			height: 100vh;
// 			color: green;
// 			font-family: title;
// 			font-size: 10rem;
// 			div {
// 				height: 90vh;
// 				width: 90vw;
// 				&:nth-child(1) {
// 					margin: 0 auto;
// 				}
// 				&:nth-child(2) {
// 					justify-content: center;
// 					text-align: center;
// 					margin: 0 auto;
// 				}
// 			}
// 		}
// 		color: blue;
// 	}
// }
@mixin shimmeringButton {
	overflow: hidden;
	&:before {
		content: "";
		display: block;
		position: absolute;
		background: rgba(255, 255, 255, 0.5);
		width: 60px;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0.5;
		filter: blur(30px);
		transform: translateX(-100px) skewX(-15deg);
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		background: rgba(255, 255, 255, 0.2);
		width: 30px;
		height: 100%;
		left: 30px;
		top: 0;
		opacity: 0;
		filter: blur(5px);
		transform: translateX(-100px) skewX(-15deg);
	}
	&:hover {
		text-shadow: none;

		background: rgb(29, 124, 100);
		cursor: pointer;
		&:before {
			transform: translateX(300px) skewX(-15deg);
			opacity: 0.6;
			transition: 0.7s;
		}
		&:after {
			transform: translateX(300px) skewX(-15deg);
			opacity: 1;
			transition: 0.7s;
		}
	}
}
$arrowColor: rgb(211, 211, 211);
@font-face {
	font-family: Biko;
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}
@keyframes white2black {
	0% {
		background-color: white;
	}
	100% {
		background-color: black;
	}
}
@keyframes black2white {
	0% {
		background-color: black;
	}
	100% {
		background-color: white;
	}
}
@keyframes opacityToZero {
	from {
		filter: opacity(1);
	}
	to {
		filter: opacity(0);
	}
}
@keyframes zIndex2-1 {
	to {
		z-index: -1;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
}
body {
	width: 100%;
	#navBar {
		position: sticky;
		top: 0px;
		z-index: 1;
		height: 0%;
		font-size: 30px;
		font-family: "Century Gothic", "Lato", sans-serif;
		ul {
			background: rgb(34, 36, 34);
			margin: 0;
			justify-content: center;
			display: flex;
			a {
				li {
					color: rgb(158, 172, 170);
					text-align: center;
					padding: 5px;
					width: 200px;
					list-style-type: none;
					border-radius: 5px;
					position: relative;
					transition: background 0.2s ease-in-out;
					@include shimmeringButton();
				}
			}
		}
	}
	.all {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		::-webkit-scrollbar {
			display: none;
		}
		overflow-x: hidden;
		width: 100vw;
		height: 100vh;
		// overflow: hidden;
		.splash {
			animation-name: zIndex2-1;
			animation-fill-mode: forwards;
			animation-delay: 12s;
			animation-duration: 0s;
			height: 100vh;
			position: absolute;
			display: flex;
			justify-content: center;
			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none; /* Safari */
			-khtml-user-select: none; /* Konqueror HTML */
			-moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
		supported by Chrome,
		Edge,
		Opera and Firefox */
			video {
				height: 100vh;
				position: fixed;
				z-index: 2;
				animation-fill-mode: forwards;
				animation-delay: 9s;
				animation-name: opacityToZero;
				animation-duration: 0s;
			}
			#mask {
				z-index: 3;
				background-color: rgb(255, 255, 255);
				animation-name: opacityToZero;
				animation-delay: 9s;
				animation-fill-mode: forwards;
				animation-duration: 0s;
				height: 100vh;
				width: 100vw;
				color: black;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-size: 100px;
				mix-blend-mode: screen;
				h1 {
					font-family: Biko, sans-serif;
					line-height: 80%;
					margin: 0;
					transition: 0.3s ease;
					&:hover {
						color: rgb(83, 83, 83);
					}
				}
			}
			.white {
				position: fixed;
				top: 0;
				left: 0;
				height: 100vh;
				width: 100vw;
				z-index: 4;
				background-color: white;
				mix-blend-mode: screen;
				animation-name: white2black, black2white, opacityToZero;
				animation-duration: 3s, 3s, 3s;
				animation-delay: 1s, 6s, 9s;
				animation-fill-mode: forwards, forwards;
			}
		}

		.blogs {
			scroll-snap-type: y mandatory;
			overflow-y: scroll;
			height: 100vh;
			.blog {
				// Up Arrow Swipe
				.arrowUp {
					z-index: 1;
					display: flex;
					justify-content: right;
					position: relative;
					top: 50px;
					right: 3px;
					.arrow-up {
						height: 40px;
						width: 40px;
						display: block;
						border: 2px solid $arrowColor;
						position: relative;
						cursor: pointer;
						transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
						overflow: hidden;
					}

					.arrow-slide {
						left: 0;
						top: -100%;
						width: 100%;
						height: 100%;
						background: #666;
						position: absolute;
						display: block;
						z-index: 0;
					}

					.left-arm {
						position: absolute;
						z-index: 1;
						background-color: transparent;
						top: 19px;
						left: 3px;
						width: 20px;
						display: block;
						transform: rotate(-45deg);
						&:after {
							content: "";
							background-color: $arrowColor;
							width: 20px;
							height: 1px;
							display: block;
							border-radius: 1px;
							transition: all 0.5s
								cubic-bezier(0.25, 1.7, 0.35, 1.5);
							transform-origin: right center;
							z-index: -1;
						}
					}

					.right-arm {
						position: absolute;
						z-index: 1;
						background-color: transparent;
						top: 19px;
						left: 17px;
						width: 20px;
						display: block;
						transform: rotate(45deg);
						border-radius: 2px;
						&:after {
							content: "";
							background-color: $arrowColor;
							width: 20px;
							height: 1px;
							display: block;
							border-radius: 1px;
							transition: all 0.5s
								cubic-bezier(0.25, 1.7, 0.35, 1.5);
							transform-origin: left center;
							z-index: -1;
						}
					}

					.arrow-up:hover {
						transition: all 0.1s;
						.left-arm:after {
							transform: rotate(-10deg);
						}
						.right-arm:after {
							transform: rotate(10deg);
						}
						.arrow-slide {
							transition: all 0.4s ease-in-out;
							transform: translateY(200%);
						}
					}
				}
				.arrowDown {
					z-index: 1;
					display: flex;
					justify-content: right;
					position: absolute;
					right: 3px;
					bottom: 3px;
					.arrow-up {
						height: 40px;
						width: 40px;
						display: block;
						border: 2px solid $arrowColor;
						position: relative;
						cursor: pointer;
						transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
						overflow: hidden;
					}

					.arrow-slide {
						left: 0;
						top: -100%;
						width: 100%;
						height: 100%;
						background: #666;
						position: absolute;
						display: block;
						z-index: 0;
					}

					.left-arm {
						position: absolute;
						z-index: 1;
						background-color: transparent;
						top: 19px;
						left: 3px;
						width: 20px;
						display: block;
						transform: rotate(45deg);
						&:after {
							content: "";
							background-color: $arrowColor;
							width: 20px;
							height: 1px;
							display: block;
							border-radius: 1px;
							transition: all 0.5s
								cubic-bezier(0.25, 1.7, 0.35, 1.5);
							transform-origin: right center;
							z-index: -1;
						}
					}

					.right-arm {
						position: absolute;
						z-index: 1;
						background-color: transparent;
						top: 19px;
						left: 17px;
						width: 20px;
						display: block;
						transform: rotate(-45deg);
						border-radius: 2px;
						&:after {
							content: "";
							background-color: $arrowColor;
							width: 20px;
							height: 1px;
							display: block;
							border-radius: 1px;
							transition: all 0.5s
								cubic-bezier(0.25, 1.7, 0.35, 1.5);
							transform-origin: left center;
							z-index: -1;
						}
					}

					.arrow-up:hover {
						transition: all 0.1s;
						.left-arm:after {
							transform: rotate(10deg);
						}
						.right-arm:after {
							transform: rotate(-10deg);
						}
						.arrow-slide {
							transition: all 0.4s ease-in-out;
							transform: translateY(200%);
						}
					}
				}

				scroll-snap-align: start;
				background: rgb(0, 0, 0);
				position: relative;
				top: 50%;
				transform: translate(0, -50%);
				height: 100vh;
				video {
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					left: 50%;
					height: 100vh;
					filter: brightness(70%);
				}
				a {
					.titleSnip {
						position: absolute;
						overflow: hidden;
						height: 40%;
						top: 33%;
						width: 100vw;
						padding: 3%;
						text-align: center;
						background-color: rgba(0, 0, 0, 0.2);
						overflow: hidden;
						&:before {
							content: "";
							display: block;
							position: absolute;
							background: rgba(255, 255, 255, 0.5);
							width: 60px;
							height: 100%;
							left: 0;
							top: 0;
							opacity: 0.5;
							filter: blur(50px);
							transform: translateX(-150px) skewX(-15deg);
						}
						&:after {
							content: "";
							display: block;
							position: absolute;
							background: rgba(255, 255, 255, 0.2);
							width: 30px;
							height: 100%;
							left: 30px;
							top: 0;
							opacity: 0;
							filter: blur(5px);
							transform: translateX(-100px) skewX(-15deg);
						}
						&:hover {
							cursor: pointer;
							&:before {
								transform: translateX(120vw) skewX(-15deg);
								opacity: 0.6;
								transition: 1s;
							}
							&:after {
								transform: translateX(120vw) skewX(-15deg);
								opacity: 1;
								transition: 1s;
							}
						}
						* {
							margin: 5px;
							font-family: "Century Gothic", "Lato", sans-serif;
							font-size: 24px;
							color: white;
							text-shadow: 0px 6px 6px rgb(0, 0, 0);
						}
					}
				}
			}
		}
	}

	.details {
		background-color: rgb(54, 54, 54);
		font-size: 1.5em;
		top: 30px;
		width: 100%;

		video {
			width: 100%;
		}
		.content {
			padding: 30px;
			& * {
				margin: 30px;
				color: honeydew;
			}
			p {
				text-indent: 50px;
				font-family: Cambria;
			}
			.deleteDiv {
				display: flex;
				justify-content: center;
				i {
					cursor: pointer;
					font-size: 1.5em;
				}
			}
		}
	}
	footer {
		background-color: rgb(32, 32, 32);
		color: white;
		text-align: center;
		position: relative;
	}
}

.create-blog {
	width: 100%;
	height: 100%;
	background-color: rgb(46, 46, 46);
	form {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color: rgb(192, 194, 196);
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -55%);
		width: 600px;
		height: 400px;
		* {
			border-radius: 5px;
			width: 100%;
			margin: 5px;
		}
		div {
			text-align: center;
			margin: 0;
			color: rgb(184, 185, 185);
		}
		label {
			color: rgb(202, 202, 202);
			font-size: 1.2em;
		}
		input {
			font-size: 1.2em;
			height: 40px;
		}
		textarea {
			height: 150px;
			font-size: 1.2em;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
		}
		button {
			position: relative;
			left: 50%;
			transform: translate(-50%, 0);
			background-color: rgb(18, 114, 90);
			height: 40px;
			width: 150px;
			cursor: pointer;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-size: 1.3em;
			@include shimmeringButton();
		}
	}
	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}
