@font-face {
  font-family: Biko;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}

@-webkit-keyframes white2black {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

@keyframes white2black {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

@-webkit-keyframes black2white {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

@keyframes black2white {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

@-webkit-keyframes opacityToZero {
  from {
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
  to {
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
}

@keyframes opacityToZero {
  from {
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
  to {
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
}

@-webkit-keyframes zIndex2-1 {
  to {
    z-index: -1;
  }
}

@keyframes zIndex2-1 {
  to {
    z-index: -1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

* ::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body .splash {
  -webkit-animation-name: zIndex2-1;
          animation-name: zIndex2-1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
		supported by Chrome,
		Edge,
		Opera and Firefox */
}

body .splash video {
  height: 100vh;
  position: fixed;
  z-index: 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  -webkit-animation-name: opacityToZero;
          animation-name: opacityToZero;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
}

body .splash #mask {
  z-index: 3;
  background-color: white;
  -webkit-animation-name: opacityToZero;
          animation-name: opacityToZero;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  height: 100vh;
  width: 100vw;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 100px;
  mix-blend-mode: screen;
}

body .splash #mask h1 {
  font-family: Biko, sans-serif;
  line-height: 80%;
  margin: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .splash #mask h1:hover {
  color: #535353;
}

body .splash .white {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  background-color: white;
  mix-blend-mode: screen;
  -webkit-animation-name: white2black, black2white, opacityToZero;
          animation-name: white2black, black2white, opacityToZero;
  -webkit-animation-duration: 3s, 3s, 3s;
          animation-duration: 3s, 3s, 3s;
  -webkit-animation-delay: 1s, 6s, 9s;
          animation-delay: 1s, 6s, 9s;
  -webkit-animation-fill-mode: forwards, forwards;
          animation-fill-mode: forwards, forwards;
}

body #navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  background: #222422;
  height: 0%;
  font-size: 30px;
  font-family: "Century Gothic", "Lato", sans-serif;
}

body #navBar ul {
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #navBar ul a li {
  text-shadow: 0px 3px 3px black;
  color: #9eacaa;
  text-align: center;
  padding: 5px;
  width: 200px;
  list-style-type: none;
  border-radius: 5px;
  position: relative;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  overflow: hidden;
}

body #navBar ul a li:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

body #navBar ul a li:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

body #navBar ul a li:hover {
  text-shadow: none;
  background: #455047;
  cursor: pointer;
}

body #navBar ul a li:hover:before {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body #navBar ul a li:hover:after {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body .blogs {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

body .blogs .blog {
  scroll-snap-align: start;
  background: black;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 100vh;
}

body .blogs .blog .arrowUp {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: relative;
}

body .blogs .blog .arrowUp .arrow-up {
  height: 40px;
  width: 40px;
  display: block;
  border: 1px solid #666;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
}

body .blogs .blog .arrowUp .arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #666;
  position: absolute;
  display: block;
  z-index: 0;
}

body .blogs .blog .arrowUp .left-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 3px;
  width: 20px;
  display: block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .blogs .blog .arrowUp .left-arm:after {
  content: "";
  background-color: #666;
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  z-index: -1;
}

body .blogs .blog .arrowUp .right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 17px;
  width: 20px;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 2px;
}

body .blogs .blog .arrowUp .right-arm:after {
  content: "";
  background-color: #666;
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  z-index: -1;
}

body .blogs .blog .arrowUp .arrow-up:hover {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

body .blogs .blog .arrowUp .arrow-up:hover .left-arm:after {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

body .blogs .blog .arrowUp .arrow-up:hover .right-arm:after {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

body .blogs .blog .arrowUp .arrow-up:hover .arrow-slide {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

body .blogs .blog .arrowDown {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: absolute;
  right: 0;
  bottom: 0;
}

body .blogs .blog .arrowDown .arrow-up {
  height: 40px;
  width: 40px;
  display: block;
  border: 1px solid #666;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
}

body .blogs .blog .arrowDown .arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #666;
  position: absolute;
  display: block;
  z-index: 0;
}

body .blogs .blog .arrowDown .left-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 3px;
  width: 20px;
  display: block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .blogs .blog .arrowDown .left-arm:after {
  content: "";
  background-color: #666;
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  z-index: -1;
}

body .blogs .blog .arrowDown .right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 17px;
  width: 20px;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 2px;
}

body .blogs .blog .arrowDown .right-arm:after {
  content: "";
  background-color: #666;
  width: 20px;
  height: 1px;
  display: block;
  border-radius: 1px;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  z-index: -1;
}

body .blogs .blog .arrowDown .arrow-up:hover {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

body .blogs .blog .arrowDown .arrow-up:hover .left-arm:after {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

body .blogs .blog .arrowDown .arrow-up:hover .right-arm:after {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

body .blogs .blog .arrowDown .arrow-up:hover .arrow-slide {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

body .blogs .blog video {
  position: absolute;
  top: 48%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100vw;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

body .blogs .blog a .titleSnip {
  position: absolute;
  overflow: hidden;
  height: 40%;
  top: 33%;
  width: 100vw;
  padding: 3%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

body .blogs .blog a .titleSnip:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  -webkit-transform: translateX(-150px) skewX(-15deg);
          transform: translateX(-150px) skewX(-15deg);
}

body .blogs .blog a .titleSnip:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

body .blogs .blog a .titleSnip:hover {
  cursor: pointer;
}

body .blogs .blog a .titleSnip:hover:before {
  -webkit-transform: translateX(120vw) skewX(-15deg);
          transform: translateX(120vw) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: 1s;
  transition: 1s;
}

body .blogs .blog a .titleSnip:hover:after {
  -webkit-transform: translateX(120vw) skewX(-15deg);
          transform: translateX(120vw) skewX(-15deg);
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

body .blogs .blog a .titleSnip * {
  margin: 5px;
  font-family: "Century Gothic", "Lato", sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: 0px 6px 6px black;
}
/*# sourceMappingURL=styles.css.map */