// //  use mixins, code that can be reused like a function
// @mixin theme($theme: DarkGray) {
// 	background: $theme;
// 	box-shadow: 0 0 1px rgba($theme, 0.25);
// 	color: #fff;
// }
// .info {
// 	@include theme;
// }
// .alert {
// 	@include theme($theme: DarkRed);
// }
// // is like this in css
// .info {
// 	background: DarkGray;
// 	box-shadow: 0 0 1px rgba(169, 169, 169, 0.25);
// 	color: #fff;
// }
// .alert {
// 	background: DarkRed;
// 	box-shadow: 0 0 1px rgba(139, 0, 0, 0.25);
// 	color: #fff;
// }

// //  modules are scss that can be imported. name it like _moduleName, then can import it with
// @use "moduleName";
// // then use it with moduleName.$variable  / _base.scss  $font-stack: Helvetica, sans-serif;

// $primary-color: #333;

// body {
// 	font: 100% $font-stack;
// 	color: $primary-color;
// }

// // styles.scss
// @use "base";
// .inverse {
// 	background-color: base.$primary-color;
// 	color: white;
// }
// //  partials are files that you want to inlude in another file. it should start with _
// // _reset.scss
// html,
// body,
// ul,
// ol {
// 	margin: 0;
// 	padding: 0;
// }
// // styles.css
// @import "reset";

// body {
// 	font-family: Helvetica, sans-serif;
// 	font-size: 18px;
// 	color: red;
// }
// //  this will add reset before the body variables just has a $ in front of it  custom functions
// @function function-name($var1, $var2) {
// 	@return percentage($var1/$var2);
// }
// //  then to use it
// .col-3 {
// 	width: column-width(3, 8);
// }
// //  difference of functions and mixins, functions return a value, mixins return code snippet
// //  @extend basically is used when have multiple styles that are similar but have some minor differences.
// .button-basic {
// 	border: none;
// 	padding: 15px 30px;
// 	text-align: center;
// 	font-size: 16px;
// 	cursor: pointer;
// }
// .button-report {
// 	@extend .button-basic;
// 	background-color: red;
// }
// //  nested, the & means the parent
// p {
// 	&:hover {
// 		text-decoration: underline;
// 	}
// 	a {
// 		color: green;
// 	}
// }

// @font-face {
// 	font-family: title;
// 	src: url(obesum-ultra-caps.extra-black-expanded.ttf);
// }
// body {
// 	justify-content: center;
// 	nav {
// 		div {
// 			//title
// 			margin: 0 auto;
// 			height: 100vh;
// 			color: green;
// 			font-family: title;
// 			font-size: 10rem;
// 			div {
// 				height: 90vh;
// 				width: 90vw;
// 				&:nth-child(1) {
// 					margin: 0 auto;
// 				}
// 				&:nth-child(2) {
// 					justify-content: center;
// 					text-align: center;
// 					margin: 0 auto;
// 				}
// 			}
// 		}
// 		color: blue;
// 	}
// }

@font-face {
	font-family: Biko;
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
}
body {
	width: 100vw;
	header {
		display: flex;
		justify-content: center;
		video {
			height: 100vh;
			position: fixed;
			z-index: -1;
		}
		#mask {
			background-color: rgb(255, 255, 255);
			height: 100vh;
			width: 100vw;
			color: black;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 100px;
			mix-blend-mode: screen;
			h1 {
				font-family: Biko, sans-serif;
				line-height: 80%;
				margin: 0;
				transition: 0.3s ease;
				&:hover {
					color: rgb(83, 83, 83);
				}
			}
		}
	}
	#navBar {
		position: sticky;
		top: 0px;
		z-index: 1;
		background: rgb(34, 36, 34);
		font-size: 30px;
		font-family: "Century Gothic", "Lato", sans-serif;
		ul {
			margin: 0;
			justify-content: center;
			display: flex;
			a {
				li {
					color: rgb(117, 133, 131);
					text-align: center;
					padding: 5px;
					width: 200px;
					list-style-type: none;
					border-radius: 5px;
					position: relative;
					transition: background 0.2s ease-in-out;
					overflow: hidden;
					&:before {
						content: "";
						display: block;
						position: absolute;
						background: rgba(255, 255, 255, 0.5);
						width: 60px;
						height: 100%;
						left: 0;
						top: 0;
						opacity: 0.5;
						filter: blur(30px);
						transform: translateX(-100px) skewX(-15deg);
					}
					&:after {
						content: "";
						display: block;
						position: absolute;
						background: rgba(255, 255, 255, 0.2);
						width: 30px;
						height: 100%;
						left: 30px;
						top: 0;
						opacity: 0;
						filter: blur(5px);
						transform: translateX(-100px) skewX(-15deg);
					}
					&:hover {
						background: #213533;
						cursor: pointer;
						&:before {
							transform: translateX(300px) skewX(-15deg);
							opacity: 0.6;
							transition: 0.7s;
						}
						&:after {
							transform: translateX(300px) skewX(-15deg);
							opacity: 1;
							transition: 0.7s;
						}
					}
				}
			}
		}
	}
	.blogs {
		background: rgb(255, 255, 255);
		.blog {
			position: relative;
			video {
				width: 100vw;
				filter: brightness(80%);
			}
			a {
				.titleSnip {
					position: absolute;
					overflow: hidden;
					height: 40%;
					top: 33%;
					width: 100vw;
					padding: 3%;
					text-align: center;
					background-color: rgba(0, 0, 0, 0.2);
					transition: background 0.4s ease-in-out;
					overflow: hidden;
					&:before {
						content: "";
						display: block;
						position: absolute;
						background: rgba(255, 255, 255, 0.5);
						width: 60px;
						height: 100%;
						left: 0;
						top: 0;
						opacity: 0.5;
						filter: blur(30px);
						transform: translateX(-100px) skewX(-15deg);
					}
					&:after {
						content: "";
						display: block;
						position: absolute;
						background: rgba(255, 255, 255, 0.2);
						width: 30px;
						height: 100%;
						left: 30px;
						top: 0;
						opacity: 0;
						filter: blur(5px);
						transform: translateX(-100px) skewX(-15deg);
					}
					&:hover {
						cursor: pointer;
						&:before {
							transform: translateX(120vw) skewX(-15deg);
							opacity: 0.6;
							transition: 1.2s;
						}
						&:after {
							transform: translateX(120vw) skewX(-15deg);
							opacity: 1;
							transition: 1.2s;
						}
					}
					* {
						margin: 5px;
						font-family: "Century Gothic", "Lato", sans-serif;
						font-size: 24px;
						color: white;
						text-shadow: 0px 6px 6px rgb(0, 0, 0);
					}
				}
			}
		}
	}
}
